.m-clips {

    &__list {
        --gutter: 6px;

        // from tablet bkp
        @media (min-width: $bkp-tablet) {
            display: grid;
            grid-column-gap: var(--gutter);
            grid-row-gap: var(--gutter);
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 33.3333vh);
            grid-auto-rows: 33.3333vh;

            // from desktop bkp
            @media (min-width: $bkp-desktop) {
                --desktop-row-height: calc(50vh - calc(var(--sticky-header-height) / 2));

                grid-template-rows:  repeat(2, var(--desktop-row-height));
                grid-auto-rows: var(--desktop-row-height);
            }
        }

        &-item {

            // only default bkp
            @media (max-width: $bkp-tablet - 1px) {
                margin-bottom: var(--gutter);
            }

        }
    }

}
