.m-clips {

    &__list {
        --gutter: 6px;

        // from tablet bkp
        @media (min-width: map-get($breakpoints, tablet)) {
            display: grid;
            grid-column-gap: var(--gutter);
            grid-row-gap: var(--gutter);
            grid-template-columns: repeat(2, 1fr);
            //grid-template-rows: repeat(3, 33.3333vh);
            //grid-auto-rows: 33.3333vh;

            // from desktop bkp
            /*@media (min-width: map-get($breakpoints, desktop)) {
                --desktop-row-height: calc(50vh - calc(var(--sticky-header-height) / 2));

                grid-template-rows:  repeat(2, var(--desktop-row-height));
                grid-auto-rows: var(--desktop-row-height);
            }*/
        }

        // hover styling
        a.m-clips__list-item {
            overflow: hidden;

            .p-img-cover {
                transform: scale(1);
                transition: .3s ease-in-out;
            }

            &:hover {
                .p-teaser-clip__txt {
                    color: var( --color-hover-txt-white );
                }

                .p-img-cover {
                    transform: scale(1.05);
                }
            }
        }

        &-item {

            // only default bkp
            @media (max-width: map-get($breakpoints, tablet) - 1px) {
                display: block;
                margin-bottom: var(--gutter);
            }
        }
    }

}
