.m-clips {
    // from tablet bkp
    @media (min-width: map-get($breakpoints, tablet)) {
        overflow: hidden;
    }

    &__list {
        // vertical spacing between list items
        --verticalSpacing: 20px;

        // from tablet bkp
        @media  (min-width: map-get($breakpoints, tablet)) {
            --verticalSpacing: 40px;
        }

        &-item {
            margin-bottom: var(--verticalSpacing);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
