.m-player {

    margin: 50px auto 0;
    padding-left: var(--text-indent);
    padding-right: var(--text-indent);
    padding-bottom: 50px;


    // from tablet bkp
    @media (min-width: $bkp-tablet) {
        padding-left: 0;
        padding-right: 0;
        // 516px in 738px container
        max-width: 69.9186%;
    }

    &__video {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 56.25%;
    }

    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    // text
    &__txt {
        margin-top: 25px;
        margin-bottom: 50px;

        // from tablet bkp
        @media (min-width: $bkp-tablet) {
            max-width: 50%;
        }
    }

    &__title {
        font-size: 14px;
        line-height: 18px;
    }

    &__descrip {
        font-size: 12px;
        line-height: 16px;
    }
}
