.m-player {

    margin: 30px auto 0;
    padding-left: var(--text-indent);
    padding-right: var(--text-indent);
    padding-bottom: 50px;


    // from tablet bkp
    @media (min-width: map-get($breakpoints, tablet)) {
        padding-left: 0;
        padding-right: 0;
        max-width: 75%;
    }

    &__video {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 56.25%;
    }

    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    // text
    &__txt {
        margin-top: 25px;
        margin-bottom: 50px;
        letter-spacing: 0.08em;
    }

    &__title {
        font-size: 14px;
        line-height: 20px;
    }

    &__descrip {
        font-size: 12px;
        line-height: 20px;

        &--awards {
            margin-top: 20px;
            font-style: italic;
        }
    }

}
