.m-header {
    padding: var(--text-indent);
    // default header bg
    background-color:  var(--color-bg);

    // from tablet bkp
    @media (min-width: map-get($breakpoints, tablet)) {
        padding-top: calc(var(--text-indent)/2);
        padding-bottom: calc(var(--text-indent)/2);
    }

    // from tablet bkp
    @media (min-width: map-get($breakpoints, tablet)) {
        display: grid;
        grid-column-gap: 10px;
    }

    // ONLY tablet bkp
    @media (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop) - 1px) {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    // from desktop bkp
    @media (min-width: map-get($breakpoints, desktop)) {

        // Sticky Header from desktop bkp
        position: fixed;
        top: 0;
        z-index: 1;
        left: 0;
        width: 100%;

        height: var(--sticky-header-height);
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    &__name,
    &__title {
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
    }

    &__name,
    &__nav {
        // from tablet bkp
        @media (min-width: map-get($breakpoints, tablet)) {
            white-space: nowrap;
        }
    }

    // additional
    &__add {
        font-size: 14px;
        line-height: inherit;
        margin-left: 8px;
    }

    &__title {

        // only default bkp
        @media (max-width: map-get($breakpoints, tablet) - 1px) {
            margin-bottom: 15px;
        }

        // from desktop bkp
        @media (min-width: map-get($breakpoints, desktop)) {
            justify-self: center;
        }
    }

    // navigation
    &__nav {

        // ONLY tablet bkp
        @media (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop) - 1px) {
            // keep element at right side
            grid-row: 1/span 2;
            grid-column: 2/-1;
        }

        // from tablet bkp
        @media (min-width: map-get($breakpoints, tablet)) {
            text-align: right;
        }

        .p-navigation__list {

            // only default bkp
            @media (max-width: map-get($breakpoints, tablet) - 1px) {
                // hide navigation as list, display navigation as dropdown only for mobile bkp
                display: none;
            }
        }
    }

    // background-image applied
    &--bgImg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;

    }
}


