.m-header {
    padding: var(--text-indent);
    // default header bg
    background-color:  var(--color-bg);
    letter-spacing: 0.08em;

    // from tablet bkp
    @media (min-width: map-get($breakpoints, tablet)) {
        padding-top: calc(var(--text-indent)/2);
        padding-bottom: calc(var(--text-indent)/2);
    }

    // from tablet bkp
    @media (min-width: map-get($breakpoints, tablet)) {
        display: flex;
        flex-wrap: wrap;

        @supports (display: grid) {
            display: grid;
            grid-column-gap: 10px;
        }
    }

    // ONLY tablet bkp
    @media (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop) - 1px) {

        @supports (display: grid) {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
    }

    // from desktop bkp
    @media (min-width: map-get($breakpoints, desktop)) {

        // Sticky Header from desktop bkp
        position: fixed;
        top: 0;
        z-index: 1;
        left: 0;
        width: 100%;

        height: $sticky-header-height;
        height: var(--sticky-header-height);
        justify-content: space-between;

        @supports (display: grid) {
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
        }
    }

    &__name,
    &__title,
    &__nav {
        // from tablet bkp
        @media (min-width: map-get($breakpoints, tablet)) {
            display: inline-block;
        }
    }

    &__name,
    &__title {
        line-height: 28px;
        text-transform: uppercase;
    }

    &__name,
    &__nav {
        // from tablet bkp
        @media (min-width: map-get($breakpoints, tablet)) {
            white-space: nowrap;
        }
    }

    &__name {
        font-size: 26px;
        letter-spacing: 0.085em;
    }

    // additional
    &__add {
        font-size: 13px;
        line-height: inherit;
        margin-left: 4px;
    }

    &__title {
        font-size: 24px;
        letter-spacing: 0.05em;

        // only default bkp
        @media (max-width: map-get($breakpoints, tablet) - 1px) {
            margin-bottom: 15px;
        }

        // ONLY tablet bkp
        @media (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop) - 1px) {
            // assure title will be placed  below name on tablet bkp
            order: 3;
            flex: 1 0 100%;
        }

        // from desktop bkp
        @media (min-width: map-get($breakpoints, desktop)) {
            justify-self: center;
        }
    }

    // navigation
    &__nav {

        // ONLY tablet bkp
        @media (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop) - 1px) {
            // keep element at right side
            margin-left: auto;

            @supports (display: grid) {
                grid-row: 1/span 2;
                grid-column: 2/-1;
            }
        }

        // from tablet bkp
        @media (min-width: map-get($breakpoints, tablet)) {
            text-align: right;
        }

        .p-navigation__list {

            // only default bkp
            @media (max-width: map-get($breakpoints, tablet) - 1px) {
                // hide navigation as list, display navigation as dropdown only for mobile bkp
                display: none;
            }
        }
    }

    // background-image applied
    &--bgImg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;

    }

    &--transparent {
        position: fixed;
        z-index: 1;
        background: none;
        width: 100%;
    }
}
