.app {
    min-height: 100vh;
    background-color: var(--color-bg);
    color: var(--color-txt);

    &--sticky {
        @media (min-width: $bkp-desktop) {
            padding-top: var(--sticky-header-height);
        }
    }
}
