.app {
    min-height: 100vh;
    background-color: var(--color-bg);
    color: var(--color-txt);
    -webkit-font-smoothing: antialiased; // make font look thinner

    &--sticky {
        @media (min-width: map-get($breakpoints, desktop)) {
            padding-top: $sticky-header-height;
            padding-top: var(--sticky-header-height);
        }
    }

    // background-image applied
    &--bgImg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
}
