.p-navigation {
    text-transform: uppercase;
    background-color: transparent;
    color: var(--color-text);

    // navigation items
    &__item {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 18px;

        @media (min-width: map-get($breakpoints, tablet)) {
            margin-bottom: 0;
        }

        a {
            display: block;
            padding: 8px 12px;

            &:hover {
                color: var( --color-hover-txt-white );
            }
        }

        &:last-child a {
           padding-right: 0;
        }

        &--active {
            a {
                color: var( --color-hover-txt-white );
            }
        }
    }

    &__select {
        width: 100%;
        color: var(--color-black);

        // from tablet bkp
        @media (min-width: map-get($breakpoints, tablet)) {
            // hide navigation as dropdown, display navigation as dropdown only for mobile bkp
            display: none;
        }
    }
}
