.p-navigation {
    text-transform: uppercase;
    background-color: transparent;
    color: var(--color-text);

    // navigation items
    &__item {
        display: inline-block;

        &:not(:last-child) {
            // horizontal spacing between items
            margin-right: 25px;
        }

        a:hover {
            color: var( --color-hover-txt-white );
        }
    }
}
