.p-teaser-clip {
    position: relative;
    letter-spacing: 0.08em;

    &__link {
        display: block;
    }

    &__txt {
        position: absolute;
        left: var(--text-indent);
        bottom: var(--text-indent);
        color: var(--color-white);
        margin-right: var(--text-indent);
    }

    &__title {
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
    }

    &__descrp {
        font-size: 12px;
        line-height: 16px;
    }
}
