.p-teaser-clip {
    --text-indent: 20px;
    position: relative;

    &__txt {
        position: absolute;
        left: var(--text-indent);
        bottom: var(--text-indent);
        color: var(--color-white);
        margin-right: var(--text-indent);

        // from tablet bkp
        @media screen and (min-width: 750px) {
            --text-indent: 40px;
        }
    }

    &__title {
        font-size: 14px;
        line-height: 18px;
    }

    &__descrp {
        font-size: 12px;
        line-height: 16px;
    }
}
