.m-intro {
    position: relative;

    // Image
    &__img {
        display: block;
        width: 100vw;
        height: 100vh;
        object-fit: cover;

        &--next,
        &--preload {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }

    // text wrapper
    &__txt-wp {
        position: absolute;
        bottom: 17%;
        left: 10%;
    }

    // text elements
    &__headline {
        text-transform: uppercase;
        background-color: transparent;
        color: var(--color-white);
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    // small text in headline
    &__interheadline {
        font-size: 16px;
        line-height: inherit;
    }
}
