.p-txt-rte {
    h2 {
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 1.5em;
    }

    h3 {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 1.5em;
    }

    h4 {
        font-size: 12px;
        margin-bottom: 0;
    }

    p {
        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }

    &__link {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.075em;
    }
}

