# Htaccess server configuration

# Redirect old urls to new Vue SPA to improve SEO
<IfModule mod_rewrite.c>
RewriteEngine On
Redirect 301 /en/index.php /
Redirect 301 /en/featured.php /films/
Redirect 301 /en/films.php /films/
Redirect 301 /en/commercials.php /commercials/
Redirect 301 /en/cv.php /cv/
Redirect 301 /en/contact.php /contact/
Redirect 301 /en/player.php /
</IfModule>

# Redirect all non existing pages to index page
ErrorDocument 404 /index.html

# Activate gzip for Domainfactory server
# https://www.df.eu/blog/performanceoptimierung/#kompression
<IfModule mod_filter.c>
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css text/javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript application/x-javascript application/json
</IfModule>
</IfModule>

# Only cache .json files for 10 minutes to force actualization after upload of changes
<filesMatch ".json$">
Header set Cache-Control "max-age=600, public"
</filesMatch>
