// configuration
@import "config/**/*.scss";

// generic styles
@import "generic/**/*.scss";

// themes
@import "themes/**/*.scss";

// patterns
@import "patterns/**/*.scss";

// modules
@import "modules/**/*.scss";

body {
    background-color: var(--color-bg);
    color: var(--color-txt);
}

